# DBRepo credentials
DBREPO_ENDPOINT=https://test.dbrepo.tuwien.ac.at
DBREPO_USERNAME=group_username
DBREPO_PASSWORD=group_password

# Database IDs
DATABASE_ID=a16a980a-3489-492b-adcf-74c70a07248b
STATION_TABLE_ID=9c57f7ff-99b6-454b-8d51-cff340ecf934
OBS_TABLE_ID=21e39deb-1db9-4d34-bc04-45fa5cef72a0

# View IDs
DBREPO_FEATURE_VIEW_ID=f868d4e8-5505-4ec8-9a9b-c2de34e2c545