# DBRepo credentials
DBREPO_ENDPOINT=https://test.dbrepo.tuwien.ac.at
DBREPO_USERNAME=DataStewGroup4
DBREPO_PASSWORD=fakjyq-tastU6-pykcep

# Database IDs 
DATABASE_ID=a16a980a-3489-492b-adcf-74c70a07248b
STATION_TABLE_ID=9c57f7ff-99b6-454b-8d51-cff340ecf934
OBS_TABLE_ID=21e39deb-1db9-4d34-bc04-45fa5cef72a0
